



h1, h2, h3 {  /* Tag selector 001 */
    font-size: 100px;
    background-color: aquamarine;
}
p{
    /* color: grey;  -- word */
    /* color: rgb(23, 123, 100);  -rgb */
    /* color: rgba(23, 123, 100, 0);  -rgb + alfa channal  from 0 to 1 example 0.567*/
    /* hex-code */
    color: #a71808;
   /* font-size: 200pt; --typografic punkts*/
   font-size: 40px;
}

#heading{
color: blueviolet;
font-size:25px ;
}

.my-class{
color: gold;

}

.green-text{
color: darkgreen;

}

.font-size-lagre{
font-size: 90px;
}

/* inline style - 1000 */